:root {
	--light: #c7ecee;
	--dark: #130f40;
	--green: #6ab04c;
	--yellow: #F6E58D;
}


body {
	font-size: 15px;
	background-color: #FFF;
	letter-spacing: 1px;
	color: var(--dark);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .next,
.slides-navigation .prev {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/previous.png);
}

.down-button {
  display: inline-block;
  margin-bottom: 10px;
  width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
  bottom: -150px;
  left: 48%;
  background-image: url(../img/icons/down.png);
  position: absolute;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 59%;
	z-index: 5;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #F5F5F5;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	font-weight: 100;
	letter-spacing: 7px;
}

.titleMessage .heading .name {
	font-size: 50px;
}

.titleMessage .heading .sub {
	font-size: 25px;
}

.section {
	padding: 100px 0;
	background-color: var(--yellow);
	color: var(--dark);
}

.aboutImage {
	max-width: 100%;
}

.skillsSection,
.contactSection {
	background-color: var(--green);
}

.contactSection {
	color: var(--light);
	font-weight: 600;
}

.contactButton {
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid;
	border-radius: 6px;
	background-color: var(--yellow);
	color: var(--green);
	font-size: 18px;
	font-weight: 700;
}

.contactButton:hover {
	text-decoration: none;
	background-color: var(--light);
}

#contact {
	padding-bottom: 34px;
}

.webLink {
	padding: 4px;
}

.skill {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	color: var(--dark);
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

.squareItem {
	margin-top: 30px;
	position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid var(--dark);
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid var(--dark);
}

.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px;
}

.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: var(--green);
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
	left: 50%;
	top: -30px;
	width: 40%;
	height: 60px;
	font-size: 45px;
	margin-left: -20%;
}

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 17px;
	width: 100%;
}

.filter a {
	color: var(--green);
	border: 1px solid var(--green);
	padding: 10px 16px;
	font-size: 18px;
	font-weight: 700;
	display: block;
}

.filter a:hover {
	text-decoration: none;
	border: 1px solid var(--light);
}

.filter .current {
	background-color: var(--dark);
	color: var(--light);
}

.filter ul {
	margin-left: -50px;
}

.filter li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 0.5s;
	-moz-transition: all 0.2s linear, 0.5s;
	-o-transition: all 0.2s linear, 0.5s;
	-ms-transition: all 0.2s linear, 0.5s;
	-transition: all 0.2s linear, 0.5s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
	width: 90px;
	height: 40px;
	left: 50%;
	top: 65%;
	margin: -20% auto 0 -47px;
	text-align: center;
	z-index: 3;
}

.items .icons i {
	color: var(--light);
	font-size: 20px;
	margin-top: 9px;
}

.items a {
	width: 40px;
	height: 40px;
	background-color: var(--green);
	position: relative;
	display: inline-block;
	border-radius: 16px;
	opacity: 0.88;
}

.items .imageOverlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: all 0.2s linear, 1s;
	-moz-transition: all 0.2s linear, 1s;
	-o-transition: all 0.2s linear, 1s;
	-ms-transition: all 0.2s linear, 1s;
	-transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
	-webkit-transition: all 0.2s linear, 0.5s;
	-moz-transition: all 0.2s linear, 0.5s;
	-o-transition: all 0.2s linear, 0.5s;
	-ms-transition: all 0.2s linear, 0.5s;
	-transition: all 0.2s linear, 0.5s;
}

.items .projectLink {
	float: right;
	right: -200px;
	-webkit-transition: all 0.2s linear, 0.5s;
	-moz-transition: all 0.2s linear, 0.5s;
	-o-transition: all 0.2s linear, 0.5s;
	-ms-transition: all 0.2s linear, 0.5s;
	-transition: all 0.2s linear, 0.5s;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
	background-color: var(--green);
	color: var(--light);
	padding: 30px 5px;
}

.copyrightSection p {
	margin: 0;
}

#navigation {
	background-color: var(--green);
	padding: 20px 10px;
	z-index: 100;
	width: 100%;
	border-bottom: 2px solid var(--yellow);
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: var(--light);
	font-size: 19px;
	margin-top: 6px;
}

#navigation li a:hover {
	color: var(--yellow);
}

.navbar-brand {
	color: var(--light);
	font-size: 33px;
	margin-left: 28px;
}

.navbar-brand:hover {
	color: var(--yellow);
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
	margin-top: -15px;
	width: 38px;
}

.navbar-toggler-icon:hover {
	color: var(--yellow);
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url("../img/loading.gif") center center no-repeat;
}

.owl-nav {
	width: 100%;
	position: absolute;
	margin-top: -200px;
}

.owl-prev {
	position: relative;
	float: left;
	padding-left: 5px;
	scale: 5;
}

.owl-next {
	position: relative;
	float: right;
	padding-right: 5px;
	scale: 5;
}
